html,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
}
.app {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.app-header {
  margin-top: 5px;
  background: linear-gradient(45deg, #fdc830 30%, #f37335 90%);
  padding: 10px;
}

.app-content {
  padding-bottom: 50px;
}
.app-footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 5px;
}

.app-footer {
  background: linear-gradient(45deg, #fdc830 30%, #f37335 90%);
  height: 40px;
}

.app-footer-content {
  padding: 10px;
}

.app-headings {
  text-align: left;
  border-radius: 7px;
  background: linear-gradient(45deg, #ffdf00 30%, #9c824a 90%);
}

.app-card-upcoming {
  color: whitesmoke;
  border-radius: 7px;
  background: linear-gradient(45deg, #aa5252 30%, #e44537 90%);
  transition: all 0.2s ease-in-out;
}

.app-card-latest {
  color: whitesmoke;
  border-radius: 7px;
  background: linear-gradient(45deg, #007ff7 30%, #0a27aa 90%);
  transition: all 0.2s ease-in-out;
}

.app-card-upcoming:hover {
  transform: scale(1.05);
  /* background-image: url("https://media.giphy.com/media/8vF1liUI4PWxVZLZx0/giphy.gif");
  background-repeat: no-repeat; */
}

.app-card-latest:hover {
  transform: scale(1.05);
}

/* video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translate(-50%, -50%);
} */
