html, body {
  height: 100%;
  background-color: white;
}

#root {
  min-height: 100vh;
}

.app {
  position: relative;
  min-height: 100vh;
  text-align: center;
  margin: 5px 0;
}

.app-header {
  background: rgb(60, 39, 214);
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px #063672;
  color: white !important;
}

.app-footer-wrapper {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}

.app-footer {
  height: 40px;
  background: #6050DC;
  border: 1px solid black;
  box-shadow: 5px 5px #063672;
  color: white;
}

.app-content {
  padding-bottom: 50px;
}

.app-footer-content {
  padding: 10px;
}

.app-headings {
  text-align: left;
  border-radius: 7px;
  background: #DB0007;
  box-shadow: 5px 5px #9C824A;
  border: 1px solid black;
  color: white;
}

.app-card {
  color: black;
  border-radius: 7px;
  border: 1px solid black;
  background: gold;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px #DB0007;
  min-height: 13.3rem;
}

.app-card:hover {
  background: white
}

.app-card-upcoming {}

.app-card-latest {}